@use '@styles/colors' as *;
@use '@styles/variables' as *;

.welcome {
  min-height: 1020px;
  background: center center / cover no-repeat
    url('../../assets/images/home-page-bg.png');

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Podcast, sans-serif;
  color: $white;
  font-weight: $fw400;
  font-size: $fs72;
  margin-bottom: 16px;
}

.subtitle {
  color: $white;
  font-weight: $fw700;
  font-size: $fs24;
  margin-bottom: 60px;
}

.underlay {
  background-color: rgba($color: $white, $alpha: 0.2);
  padding: 20px;
  border-radius: 12px;
}
