@use '@styles/colors' as *;
@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.welcome {
  min-height: 1020px;
  background: center center / cover no-repeat
    url('@/assets/images/home-page-bg.webp');

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Podcast, sans-serif;
  color: $white;
  font-weight: $fw400;
  font-size: $fs72;
  margin-bottom: 16px;
  text-align: center;
}

.subtitle {
  color: $white;
  font-weight: $fw700;
  font-size: $fs24;
  margin-bottom: 60px;
  text-align: center;
}

.underlay {
  @include underlayBackground();
  padding: 20px;
  border-radius: 12px;
}

.publicTours {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: $white;
  padding: 16px;
  border-radius: 12px 0 0 0;
  font-weight: $fw600;
  font-size: $fs18;
  color: $accent;
}

.filtersGroup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  background-color: $white;
  padding: 12px;
  border-radius: 0 12px 12px 12px;

  & > *:not(:last-child) {
    width: 200px;
  }

  & > :nth-child(2),
  & > :nth-child(3) {
    width: 175px;
  }

  & > :nth-child(4),
  & > :nth-child(5) {
    width: 240px;
  }
}

.priceRange {
  margin: 0 20px 0 15px;
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accent;
  width: 80px;
  height: 80px;
  border-radius: 12px;
  transition: 0.35s all ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
