@use '@styles/colors' as *;
@use '@styles/variables' as *;

.popularHotels {
  padding: 120px 0 60px 0;
}

.title {
  font-weight: $fw800;
  font-size: $fs32;
  margin-bottom: 60px;
}

.buttonPrev {
  font-weight: $fw400;
  position: absolute;
  top: 0;
  right: 75px;
  color: $dark;
}

.buttonNext {
  font-weight: $fw400;
  position: absolute;
  top: 0;
  right: 0;
}
