@use '@styles/colors.scss' as *;
@use '@styles/variables.scss' as *;
@use '@styles/mixins' as *;

.header {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.headerFullWidth {
  @include underlayBackground();
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 170px;
  position: absolute;
}

.headerWrapper {
  @include underlayBackground();
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px 20px;

  & > :last-child {
    padding-right: 100px;
  }
}

.headerWrapperFullWidth {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.item {
  font-size: $fs20;
  font-weight: $fw600;
  color: $white;
  text-decoration: none;
  text-decoration-color: $accent;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: $accent;
  }
}

.itemActive {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: $accent;
}

.logo {
  max-height: 94px;
}

.buttons {
  & > :first-child {
    margin-right: 10px;
  }
}
